button{
    background-color:orangered;
    color: white;
    padding:10px;
    border:0;
    font-family: 'Arial', 'Trebuchet MS', sans-serif;
    font-weight:200;
    position : relative;
}
button:hover{
    background-color: black;
}
.modalOverlay{
   position: absolute;
    top:0px;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.3);
    z-index:1;
}

#modal-header,#modal-footer{
    background-color:orangered; 
    color:white;
    padding:10px;
}
#modal-footer h2{
    margin:0 auto
}
#modal-header h2{
    display: inline;
}
#modal-body{
    padding:10px;
}
.delete{
    float:right;
    cursor: pointer;
}
.delete:hover{
    background-color: black;
}